@import './assets/variables';
@import './assets/mixins';
@import './components/login/oauth.scss';
@import './assets/grid';
@import './components/instructions/instructions.scss';
@import './components/builder/builder.scss';
@import './components/builder/section/section.scss';
@import './components/builder/subsection/subsection.scss';
@import './components/builder/item/item.scss';
@import './components/navigation/navigation.scss';
@import './components/generic/generic-components.scss';
@import './components/color-selection/colors.scss';
@import './components/color-selection/color-preview/color-preview.scss';
@import './components/export/export.scss';
@import './components/export/progress-tracker/progress.scss';
@import './components/bars/bars.scss';

body {
  background-color: $blue;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

header {
  background-color: $dark-blue;
  border-bottom: 1px solid $off-white;
  padding: 0 0 0 15px;
  color: $off-white;
  display: flex;
  align-items: center;

  h3 {
    flex-grow: 1;
    margin: 10px 0;
  }
}

.main-scrollable {
  width: 100vw;
  overflow-y: auto;
  @include viewHeightWithoutHeaderFooter;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 12px 0;

  &.label {
    display: inline-block;
    padding: 3px;
    background-color: $off-white;
    color: $darker-blue;
  }

  &.section {
    margin-top: 15px;
  }
}

h1, h2 {
  font-family: Lato;
  font-weight: 300;
}

ol {
  margin: 0;
  padding-left: 20px;

  li {
    margin: 5px;
  }
}

a {
  text-decoration: none;
  
  &:active, &:focus, &:visited {
    text-decoration: none;
  }
}

section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  outline: none;
  border-radius: 4px;
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 1.1em;
  transition: background-color .2s;
  caret-color: $gray;
  color: $off-white;

  &.primary {
    background-color: $off-white;
    color: #000;
  }

  &.title {
    background-color: rgba(255,255,255, .08);
    border-radius: 0;
    border-bottom: 1px solid $dark-gray;
    transition: .4s all;
    color: $off-white;

    &:focus {
      border-bottom-color: $turquoise;
      background-color: rgba(255,255,255, 0);
    }
  }
}

button {
  border: none; 
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 0;
}

.button {
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 5px;
  color: $off-white;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  position: relative;
  transition: all .3s;
  @include depth-2;

  &:hover {
    margin-top: 3px;
    box-shadow: 3px 3px 8px 0 rgba(0,0,0, .4);
  }

  &.right {
    margin-left: auto;
    margin-right: 20px;
  }

  &.green {
    background-color: $green;

    &:hover {
      background-color: $dark-green;
    }
  }

  &.turquoise {
    background-color: $turquoise;

    &:hover {
      background-color: $dark-turquoise;
    }
  }

  &.secondary {
    background-color: $darker-blue;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.dark {
    background-color: #222;

    &:hover {
      background-color: #292929;
    }
  }

  &.icon {
    &::before {
      font-family: FontAwesome;
      display: inline-block;
      margin-right: 8px;
    }

    &.loading {
      &::before {
        content: '\f110';
        animation: spin 1s linear infinite;
      }
    }

    &.code {
      &::before {
        content: '\f121';
      }
    }
  }

  &.github {
    background-color: $github;
    color: $off-white;
    padding-left: 40px;

    &::before {
      content:'';
      background-image: url('/img/github-icon.png');
      background-size: cover;
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      top: 8px;
      left: 11px;
    }
  
    &:hover {
      background-color: $github-hover;
    }
  }

  &.dark-alternate {
    background-color: #383838;

    &:hover {
      background-color: #464646;
    }
  }

  &:disabled {
    background-color: $dark-gray;
    color: $gray;
    box-shadow: none;

    &:hover {
      background-color: $dark-gray;
      margin-top: 5px;
      box-shadow: none;
    }
  }

  &.step {
    font-size: 1.1em;

    &::after {
      font-family: FontAwesome;
      content: '\f061';
      display: inline-block;
      margin-left: 10px;
      font-size: 1em;
    }
  }

  &.center {
    display: inline-block;
    margin: 0 auto 20px auto;
  }

  &.no-hover {
    &:hover {
      margin-top: 0;
    }
  }
}

a {
  &.button {
    font-size: .9em;
  }
}

.toast-offset {
  margin-top: 74px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.add {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  font-size: 1em;
  padding: 0 0 15px 15px;
  cursor: pointer;
  color: $off-white;

  &::before {
    font-family: FontAwesome;
    content: '\f067';
    margin-right: 8px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $darker-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $darker-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $darker-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $darker-gray;
}

footer {
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  background-color: $darker-blue;
  color: $off-white;
  position: fixed;
  bottom:0;
  left: 0;
  box-shadow: 0 0 50px 12px rgba(0, 0, 0, .5);

  .flex {
    width: 60%;
    margin: 0 auto;
  }

  p {
    display: inline-block;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .button {
    padding: 8px;
    margin-right: 10px;

    &.github {
      &::before {
        top: 6px;
      }
    }
  }
}

.step-container {
  opacity: 0;

  &.animate {
    animation: .4s animate-step forwards;
  }
}

@keyframes animate-step {
  0% {
    opacity: 0;
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}