.preview {
  width: 80%;
  display: block;
  margin: 10px auto 0 auto;
}

.item {
  background-color: $off-white;
  border-radius: 6px;
  padding-bottom: 10px;

  input[type=text] {
    border-radius: 6px 6px 0 0;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid $silver;
    box-sizing: border-box;
    color: black;
    text-align: center;

    &:focus {
      background-color: $silver;
    }
  }

  input[type=file] {
    color: black;
    font-size: .9em;
    max-width: 100%;
    box-sizing: border-box;
  }
}