.section-content {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  background-image: $dark-blue-gradient;
  position: relative;
  @include depth-2;

  &:first-child {
    margin-top: 10px;
  }

  input[type=text] {
    &.title {
      margin-bottom: 25px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    + .fa {
      position: absolute;
      color: $off-white;
      background-color: $dark-red;
      padding: 12px 14px 13px 14px;
      cursor: pointer;
      right: 0;
      top: 0;
      border-top-right-radius: 4px;
      transition: .4s all;
    }

    &:focus + .fa {
      color: $off-white;
    }
  }
  
  .add {
    margin-left: 20px;
  }
}