.container {
  width: 60%;
  margin: 15px auto;

  &.full-width {
    width: 100%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  box-sizing: border-box;
  flex-grow: 0;
  padding: 8px;
}

.col-4 {
  flex-basis: 33.3%;
  max-width: 33.3%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}