.container {
  width: 60%;
  margin: 30px auto 80px auto;

  &:first-child {
    margin-top: 30px;
  }

  &.full-width {
    width: 100%;
  }

  &.fixed {
    width: 700px;
    max-width: 700px;
  }

  &.full-window {
    width: 100vw;
    height: calc(100vh - 79px); // Don't like magic but need to account for the header and footer
  }
}

.flex {
  display: flex;

  &.center {
    justify-items: center;
  }

  &.vertical-center {
    align-items: center;
  }

  &.prevent-stretch {
    align-items: flex-start;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  box-sizing: border-box;
  flex-grow: 0;
  padding: 8px;
}

.col-4 {
  flex-basis: 33.3%;
  max-width: 33.3%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}