
$dark-blue: #2c3e50;
$blue: #34495e;
$darker-blue: scale-color(#2c3e50, $lightness: -10%);
$darkest-blue: scale-color(#2c3e50, $lightness: -20%);

$off-white: #ecf0f1;
$silver: #bdc3c7;

$gray: #95a5a6;
$dark-gray: #7f8c8d;
$darker-gray: scale-color(#7f8c8d, $lightness: -10%);
$darkest-gray: scale-color(#7f8c8d, $lightness: -30%);

$green: #2ecc71;
$dark-green: #27ae60;

$red: #e74c3c;
$dark-red: #c0392b;

$turquoise: #1abc9c;
$dark-turquoise: #16a085;

// Brands
$github: #6e5494;
$github-hover: scale-color(#6e5494, $lightness: -10%);