.sub-section-content {
  margin: 0 25px 25px 25px;
  background-image: $darker-blue-gradient;
  border-radius: 4px;
  padding-bottom: 15px;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0, .12);
  position: relative;

  input[type=text] {
    font-size: 1em;

    &.title {
      width: auto;
      display: inline-block;
      margin-bottom: 20px;
    }

    + .fa {
      padding: 10px 13px 10px 13px;
      background-color: rgba(255,255,255, .4);
    }
  }

  .row {
    margin: 0 20px;
  }

  .item {
    input[type=text] {
      padding-left: 10px;
    }
  }

  .add {
    padding: 10px;
    margin: 0;
    border: 1px solid $off-white;
    border-radius: 4px;
    transition: background-color .4s;
    width: 100%;

    &::before {
      content: '\f055';
      font-size: 1.3em;
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &:hover {
      background-color: $dark-blue;
    }
  }
}