
.user-info {
  margin: 0;
  padding: 6px 20px;
  position: relative;
  background-color: rgba(255,255,255, .25);
  transition: background-color .4s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255, .32);
  }

  &.active {
    background-color: rgba(255,255,255, .85);

    .fa, p {
      color: $dark-blue;
    }
  }

  .image {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50px;
    border: 4px solid $github;
    background-size: cover;

    &.loading {
      background-image: none !important;
      border: none;
      height: 48px;
      width: 48px;
      animation: .5s pulse infinite ease-in-out;
    }
  }

  p {
    margin: 0 12px 0 15px;

    &.placeholder {
      &::after {
        content: '';
        display:block;
        height: 19px;
        width: 120px;
        animation: .5s pulse infinite ease-in-out;
      }
    }
  }

  .title {
    margin-left: 15px;
    background-color: $dark-red;
    padding: 8px;
    transition: background-color .3s;
    cursor: pointer;
    border-radius: 4px;

    .fa-sign-out {
      margin-right: 4px;
    }
  }

  .menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255, .6);
    border-radius: 0 0 4px 4px;
    left: 0;
    top: 100%;
    @include depth-2;

    button {
      width: 100%;
      background-color: $red;
      transition: background-color .4s;
      color: $off-white;

      &:hover {
        background-color: $dark-red;
      }
    }

    &.open {
      height: auto;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: $gray;
  }
  100% {
    background-color: $off-white;
  }
}