section {
  h3 {
    display: inline-block;
    color: $off-white;
    margin: 0;
    margin-left: 20px;
    line-height: 30px;
    vertical-align: top;
  }
}

.color-select {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 6px;
  background-color: $off-white;
  position: relative;
  box-sizing: border-box;
  padding: 5px;

  .selected {
    height: 100%;
    display: block;
    box-sizing: border-box;
    transition: background-color .4s;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      border-left: 4px solid #000;
      border-bottom: 4px solid #000;
      border-top: 4px solid transparent;
      border-right: 4px solid transparent;
    }
  }

  .options {
    display: none;
    width: 150px;
    position: absolute;
    left: 0;
    border-radius: 6px;
    top: 30px;
    z-index: 100;

    .option {
      display: inline-block;
      width: 30px;
      height: 25px;
      box-sizing: border-box;
      border: 2px solid transparent;
      transition: border-color .3s;

      &:hover {
        border-color: #000;
      }
    }
  }

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .options {
      display: block;
      padding: 5px;
      background-color: $off-white;
      border-top: 1px solid $gray;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .turquoise { background-color: #1abc9c; }
  .dark-turquoise { background-color: #16a085 }
  .green { background-color: #2ecc71; }
  .dark-green { background-color: #27ae60 }
  .light-blue { background-color: #3498db; }
  .blue { background-color: #2980b9 }
  .purple { background-color: #9b59b6; }
  .dark-purple { background-color: #8e44ad }
  .dark-blue { background-color: #34495e }
  .darker-blue { background-color: #2c3e50 }
  .yellow { background-color: #f1c40f }
  .dark-yellow { background-color: #f39c12 }
  .orange { background-color: #e67e22 }
  .dark-orange { background-color: #d35400 }
  .red { background-color: #e74c3c }
  .dark-red { background-color: #c0392b }
  .off-white { background-color: #ecf0f1 }
  .silver { background-color: #bdc3c7 }
  .gray { background-color: #95a5a6 }
  .dark-gray { background-color: #7f8c8d }
  .white { background-color: #fff }
  .black { background-color: #000 }
}